<div class="black-section {{block.class}} text-center">
    <div class="wrap">
        <h2 class="uppercase">{{ block.title }}</h2>
        <h4 class="uppercase">{{ block.subtitle }}</h4>
        <p>{{ block.content }}</p>
        {% if block.link is not empty %}
        <a href="{{ block.link.url }}" class="cta uppercase">
            {{ block.link.title }}
        </a>
        {% endif %}
    </div>
</div>